In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 数据处理

In [2]:
data_list = []
for i in range(1,8):
    try:
        data = pd.read_csv('./dataset/lianjia{}.csv'.format(i), encoding='gbk')
    except:
        data = pd.read_csv('./dataset/lianjia{}.csv'.format(i))
    finally:
        data_list.append(data)
data = pd.concat(data_list)
data = data.dropna()

In [3]:
data = data[data.cjshijian.str.contains('2015-')]

In [4]:
data.head()

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
0,37,红莲北里店,251.0,店经理,97% 141,43997元/平,红莲北里 3室1厅 57平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-05-24,4-5年,马连道
1,37,红莲北里店,159.0,店经理,97% 141,36969元/平,红莲南里 1室1厅 43平,郭海龙,36,房东信赖;销售达人;带看活跃,南/高楼层/7层,签约时间：2015-05-10,4-5年,马连道
2,37,红莲北里店,257.0,店经理,97% 141,39046元/平,常青藤嘉园 1室1厅 65平,郭海龙,36,房东信赖;销售达人;带看活跃,北/低楼层/16层,签约时间：2015-04-26,4-5年,马连道
3,37,红莲北里店,243.0,店经理,97% 141,41313元/平,红莲北里 2室1厅 58平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-04-04,4-5年,马连道
4,37,红莲北里店,372.5,店经理,97% 141,42053元/平,广安门外大街 3室1厅 88平,郭海龙,36,房东信赖;销售达人;带看活跃,东 南 西 北/中楼层/18层,签约时间：2015-04-01,4-5年,马连道

In [5]:
data = data[['cjdanjia', 'cjxiaoqu', 'cjlouceng']]

In [6]:
data

      cjdanjia           cjxiaoqu        cjlouceng
0     43997元/平      红莲北里 3室1厅 57平       南 北/高楼层/6层
1     36969元/平      红莲南里 1室1厅 43平         南/高楼层/7层
2     39046元/平     常青藤嘉园 1室1厅 65平        北/低楼层/16层
3     41313元/平      红莲北里 2室1厅 58平       南 北/高楼层/6层
4     42053元/平    广安门外大街 3室1厅 88平  东 南 西 北/中楼层/18层
...        ...                ...              ...
6591  27835元/平   富力又一城C区 2室2厅 88平        南/高楼层/23层
6592  20820元/平     扬州水乡 3室1厅 122平       南 北/中楼层/5层
6593  20302元/平      扬州水乡 2室2厅 76平       南 北/低楼层/3层
6594  26948元/平  富力又一城A区 3室2厅 139平      南 北/中楼层/22层
6659  11829元/平   福城上上城三季 2室1厅 59平        北/中楼层/26层

[42950 rows x 3 columns]

In [7]:
data.cjdanjia = np.round(data.cjdanjia.str.replace('元/平','').astype(np.float32).map(lambda x:x/10000),2)

In [8]:
data.head()

   cjdanjia         cjxiaoqu        cjlouceng
0      4.40    红莲北里 3室1厅 57平       南 北/高楼层/6层
1      3.70    红莲南里 1室1厅 43平         南/高楼层/7层
2      3.90   常青藤嘉园 1室1厅 65平        北/低楼层/16层
3      4.13    红莲北里 2室1厅 58平       南 北/高楼层/6层
4      4.21  广安门外大街 3室1厅 88平  东 南 西 北/中楼层/18层

In [9]:
(data.cjxiaoqu.str.split().map(len) != 3).sum()

3

In [10]:
data = data[data.cjxiaoqu.str.split().map(len) == 3]

In [17]:
data = data.assign(xiaoqu = data.cjxiaoqu.map(lambda x:x.split()[0]))

In [12]:
# data['xiaoqu'] = data.cjxiaoqu.map(lambda x:x.split()[0])  # 在一个复制的视图上进行操作

In [18]:
data = data.assign(huxing = data.cjxiaoqu.map(lambda x:x.split()[1]))

In [19]:
data = data.assign(mianji = data.cjxiaoqu.map(lambda x:x.split()[2]))

In [21]:
del data['cjxiaoqu']

In [22]:
data

      cjdanjia        cjlouceng   xiaoqu huxing mianji
0         4.40       南 北/高楼层/6层     红莲北里   3室1厅    57平
1         3.70         南/高楼层/7层     红莲南里   1室1厅    43平
2         3.90        北/低楼层/16层    常青藤嘉园   1室1厅    65平
3         4.13       南 北/高楼层/6层     红莲北里   2室1厅    58平
4         4.21  东 南 西 北/中楼层/18层   广安门外大街   3室1厅    88平
...        ...              ...      ...    ...    ...
6591      2.78        南/高楼层/23层  富力又一城C区   2室2厅    88平
6592      2.08       南 北/中楼层/5层     扬州水乡   3室1厅   122平
6593      2.03       南 北/低楼层/3层     扬州水乡   2室2厅    76平
6594      2.69      南 北/中楼层/22层  富力又一城A区   3室2厅   139平
6659      1.18        北/中楼层/26层  福城上上城三季   2室1厅    59平

[42947 rows x 5 columns]

In [25]:
data[data.cjlouceng.str.split('/').map(len) != 3]

Empty DataFrame
Columns: [cjdanjia, cjlouceng, xiaoqu, huxing, mianji]
Index: []

In [27]:
data = data.assign(chaoxiang = data.cjlouceng.map(lambda x:x.split('/')[0]))

In [28]:
data = data.assign(louceng = data.cjlouceng.map(lambda x:x.split('/')[1]))

In [29]:
del data['cjlouceng']

In [32]:
data

      cjdanjia   xiaoqu huxing mianji chaoxiang louceng
0         4.40     红莲北里   3室1厅    57平       南 北     高楼层
1         3.70     红莲南里   1室1厅    43平         南     高楼层
2         3.90    常青藤嘉园   1室1厅    65平         北     低楼层
3         4.13     红莲北里   2室1厅    58平       南 北     高楼层
4         4.21   广安门外大街   3室1厅    88平   东 南 西 北     中楼层
...        ...      ...    ...    ...       ...     ...
6591      2.78  富力又一城C区   2室2厅    88平         南     高楼层
6592      2.08     扬州水乡   3室1厅   122平       南 北     中楼层
6593      2.03     扬州水乡   2室2厅    76平       南 北     低楼层
6594      2.69  富力又一城A区   3室2厅   139平       南 北     中楼层
6659      1.18  福城上上城三季   2室1厅    59平         北     中楼层

[42947 rows x 6 columns]

In [36]:
top15 = data.xiaoqu.value_counts()[:15].index

In [39]:
data = data[data.xiaoqu.isin(top15)]  # 取出成交量前十五的小区的成交数据

In [40]:
data

      cjdanjia  xiaoqu huxing mianji chaoxiang louceng
31        6.62  荣丰2008   1室1厅    32平         南     低楼层
347       3.97    远洋山水  1室--厅    56平         东     中楼层
388       3.01  北京像素北区   2室1厅    57平        西南     低楼层
716       2.90  北京像素北区   2室1厅    58平        东北     中楼层
260       3.81   沿海赛洛城   1室1厅    64平         东     低楼层
...        ...     ...    ...    ...       ...     ...
3769      2.07  天通苑东一区   2室1厅    96平         东     低楼层
4096      2.96   芍药居北里   1室1厅    56平         南     低楼层
4230      1.93  天通苑东一区   3室2厅   130平       南 北     中楼层
4232      2.50  天通苑东一区   2室1厅    76平       南 北     中楼层
5379      1.94  天通苑东一区   2室1厅   101平       东 南     高楼层

[1777 rows x 6 columns]

In [42]:
data.mianji = data.mianji.str.replace('平','').astype(np.float32)

C:\Users\luhe\AppData\Local\Temp\ipykernel_37224\2622074155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.mianji = data.mianji.str.replace('平','').astype(np.float32)

In [43]:
data.head()

     cjdanjia  xiaoqu huxing  mianji chaoxiang louceng
31       6.62  荣丰2008   1室1厅    32.0         南     低楼层
347      3.97    远洋山水  1室--厅    56.0         东     中楼层
388      3.01  北京像素北区   2室1厅    57.0        西南     低楼层
716      2.90  北京像素北区   2室1厅    58.0        东北     中楼层
260      3.81   沿海赛洛城   1室1厅    64.0         东     低楼层

In [44]:
data.xiaoqu.unique()

array(['荣丰2008', '远洋山水', '北京像素北区', '沿海赛洛城', '东亚上北中心', '天通西苑二区', '芍药居北里',
       '北京新天地', '北京像素南区', '新龙城', '青年汇佳园', '天通苑中苑', '天通苑东一区', '海特花园小区',
       '天通西苑三区'], dtype=object)

In [45]:
data.chaoxiang.unique()

array(['南', '东', '西南', '东北', '南 北', '西 南', '东 南', '东 南 北', '西北', '东 北',
       '东 西', '西', '北', '西 北', '东南', '南 西', '东 南 西', '西 南 北', '南 北 西',
       '东 西 北', '南 西 北', '西南 东北', '南 北 东', '暂无数据', '北 东南', '北 西南',
       '东 西 南', '东 北 南'], dtype=object)

In [46]:
data = data[data.chaoxiang != '暂无数据']

In [47]:
data.chaoxiang.unique()

array(['南', '东', '西南', '东北', '南 北', '西 南', '东 南', '东 南 北', '西北', '东 北',
       '东 西', '西', '北', '西 北', '东南', '南 西', '东 南 西', '西 南 北', '南 北 西',
       '东 西 北', '南 西 北', '西南 东北', '南 北 东', '北 东南', '北 西南', '东 西 南',
       '东 北 南'], dtype=object)

In [49]:
data.louceng.unique()

array(['低楼层', '中楼层', '高楼层', '地下室'], dtype=object)

In [50]:
data.huxing.unique()

array(['1室1厅', '1室--厅', '2室1厅', '2室2厅', '3室2厅', '4室2厅', '1室2厅', '3室1厅',
       '5室1厅', '3室--厅', '5室--厅', '4室1厅', '5室2厅', '3室3厅', '2室--厅', '2室3厅',
       '4室--厅'], dtype=object)

In [55]:
data = data.join(pd.get_dummies(data[['xiaoqu','huxing','louceng']]))

In [56]:
data

,cjdanjia,xiaoqu,huxing,mianji,chaoxiang,louceng,xiaoqu_东亚上北中心,xiaoqu_北京像素北区,xiaoqu_北京像素南区,xiaoqu_北京新天地,...,huxing_4室--厅,huxing_4室1厅,huxing_4室2厅,huxing_5室--厅,huxing_5室1厅,huxing_5室2厅,louceng_中楼层,louceng_低楼层,louceng_地下室,louceng_高楼层
31,6.62,荣丰2008,1室1厅,32.0,南,低楼层,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
148,3.86,芍药居北里,1室1厅,43.0,南,地下室,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
260,3.81,沿海赛洛城,1室1厅,64.0,东,低楼层,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
261,3.32,沿海赛洛城,1室1厅,57.0,东,中楼层,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
285,3.96,沿海赛洛城,2室2厅,105.0,南 北,中楼层,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56956,3.59,新龙城,1室1厅,56.0,北,低楼层,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
56957,2.20,天通苑东一区,2室1厅,94.0,东南,中楼层,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
56960,3.11,新龙城,1室2厅,70.0,南,低楼层,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
56961,3.18,新龙城,3室2厅,111.0,南 北,高楼层,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56962,2.83,新龙城,2室2厅,98.0,东 西,中楼层,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [58]:
len(data.chaoxiang.unique())

27

In [59]:
data.chaoxiang.unique()

array(['南', '东', '南 北', '东 西', '南 西', '南 北 西', '西南', '西 北', '东南', '东 北',
       '东 南', '西 南', '东北', '东 南 北', '西北', '西', '北', '西南 东北', '西 南 北',
       '东 南 西', '南 北 东', '南 西 北', '东 西 北', '东 西 南', '北 东南', '北 西南',
       '东 北 南'], dtype=object)

In [62]:
data['dong'] = (data.chaoxiang.map(lambda x:'东' in x.split())).astype(np.int32)

In [63]:
data['xi'] = (data.chaoxiang.map(lambda x:'西' in x.split())).astype(np.int32)
data['nan'] = (data.chaoxiang.map(lambda x:'南' in x.split())).astype(np.int32)
data['bei'] = (data.chaoxiang.map(lambda x:'北' in x.split())).astype(np.int32)

In [65]:
data['dongnan'] = (data.chaoxiang.map(lambda x:'东南' in x.split() or '南东' in x.split())).astype(np.int32)
data['dongbei'] = (data.chaoxiang.map(lambda x:'东北' in x.split())).astype(np.int32)
data['xinan'] = (data.chaoxiang.map(lambda x:'西南' in x.split())).astype(np.int32)
data['xibei'] = (data.chaoxiang.map(lambda x:'西北' in x.split())).astype(np.int32)

In [70]:
data.drop(data.columns[[1,2,4,5]], axis=1, inplace=True)  # 删除多列

In [71]:
data

,cjdanjia,mianji,xiaoqu_东亚上北中心,xiaoqu_北京像素北区,xiaoqu_北京像素南区,xiaoqu_北京新天地,xiaoqu_天通苑东一区,xiaoqu_天通苑中苑,xiaoqu_天通西苑三区,xiaoqu_天通西苑二区,...,louceng_地下室,louceng_高楼层,dong,xi,nan,bei,dongnan,dongbei,xinan,xibei
31,6.62,32.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
148,3.86,43.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
260,3.81,64.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
261,3.32,57.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
285,3.96,105.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56956,3.59,56.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
56957,2.20,94.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
56960,3.11,70.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
56961,3.18,111.0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,0
56962,2.83,98.0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0

In [72]:
Y = data.cjdanjia
X = data[[x for x in data.columns if x != 'cjdanjia']]

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [81]:
X_train.shape, np.shape(X_train), np.shape(X_train.values)

((1389, 45), (1389, 45), (1389, 45))

# 模型构建

In [82]:
from sklearn.linear_model import LinearRegression

In [84]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [85]:
model.predict(X_test)

array([2.88930692, 2.18702685, 3.09215066, 5.60077986, 3.1446695 ,
       2.81334289, 3.15894721, 2.88341255, 2.59406459, 3.13718779,
       3.09890355, 3.94266293, 4.54801418, 4.12380235, 2.88298068,
       1.64276032, 2.25719333, 2.91727812, 3.14990341, 3.12132228,
       2.91782073, 4.12395826, 3.21298905, 4.3776082 , 4.45863177,
       4.40336881, 5.61580841, 4.52473951, 1.89707664, 3.44991557,
       2.86013707, 1.88660627, 2.34158972, 3.90453072, 2.32399401,
       2.84144641, 2.26491649, 3.05376976, 2.59479674, 3.69823924,
       2.02032487, 4.7988569 , 2.18480298, 2.74265351, 2.90527085,
       5.68426945, 4.68275393, 2.96151831, 2.02535051, 2.87331006,
       2.90551872, 1.92987324, 2.06823587, 4.16137405, 5.83492663,
       5.72255926, 3.4556906 , 2.33197813, 1.68301742, 4.3907257 ,
       3.0987552 , 1.90817551, 2.72476175, 4.8343082 , 1.97408436,
       5.81261562, 4.99837467, 3.58828865, 4.01998491, 1.84160246,
       3.91867821, 3.02866837, 2.70066011, 4.01315773, 1.72410622,
       3.91502452, 2.1904887 , 2.15218865, 3.24714101, 1.7265179 ,
       2.11885906, 2.84253505, 2.89180164, 1.84638364, 2.67883748,
       5.54965856, 5.58694668, 2.33230816, 4.16909445, 2.5319447 ,
       5.35051641, 3.11823421, 3.0197858 , 2.97515958, 2.49295024,
       2.170784  , 1.58284992, 2.03240018, 5.71514912, 3.84622774,
       1.96762505, 2.31453645, 3.11051205, 2.59114914, 2.4963921 ,
       4.81731097, 2.07243033, 5.66216966, 3.84878284, 4.19535716,
       2.21689596, 4.38883581, 2.97799911, 5.74773303, 4.34130865,
       2.0959688 , 3.19631014, 2.31572739, 2.18581543, 1.12925083,
       1.64200543, 3.3149907 , 4.29243196, 2.18799398, 1.65195083,
       3.38046762, 1.70208896, 1.9149535 , 5.83550589, 2.95820366,
       2.88930692, 2.42336621, 3.82327075, 3.94476193, 1.74876142,
       3.79291025, 3.2944833 , 1.79519015, 1.90299705, 2.17815541,
       3.19794446, 2.31851865, 2.37167891, 3.97757145, 3.43069861,
       5.63334773, 3.46294194, 4.03752422, 2.44786159, 2.42087149,
       2.32017392, 0.88662243, 3.64986573, 2.01966981, 3.11003043,
       1.64937684, 2.81207564, 2.33479758, 4.630612  , 2.39017792,
       2.88250567, 4.15760986, 3.21911197, 3.11241005, 3.08371061,
       3.53407371, 3.43069861, 4.08756787, 4.07416414, 1.76      ,
       3.33207645, 1.18740716, 4.36437609, 3.156443  , 4.22249245,
       2.4464077 , 4.4844377 , 2.00417355, 2.39625572, 3.16899288,
       2.70268949, 2.25542558, 5.82046129, 2.69538786, 2.45939537,
       4.3386123 , 2.46045198, 2.53808403, 1.15858025, 2.46636772,
       3.80682827, 1.80535806, 3.18192754, 2.89976305, 3.21298905,
       3.20952107, 3.62203886, 1.70661345, 3.79068684, 3.25714958,
       2.95820366, 4.18547547, 4.43614628, 3.08085735, 4.00561324,
       2.50697822, 2.15468337, 4.76934697, 3.08862603, 2.5822012 ,
       2.26838247, 3.07448425, 3.98226126, 2.26411347, 2.21462132,
       3.0496679 , 5.83550589, 3.10968998, 1.76      , 5.17160329,
       3.10996764, 2.61814386, 2.49455987, 3.07448425, 2.96524708,
       2.3746172 , 2.97951644, 3.16899288, 5.66095824, 3.10303846,
       0.55595774, 3.18239315, 2.83433114, 1.73062868, 2.75910815,
       1.64707875, 2.0959688 , 2.50697822, 5.73268844, 3.021716  ,
       3.17412653, 3.11003043, 3.42310669, 5.35213845, 2.80274743,
       1.76602321, 0.69363135, 3.11882756, 4.46705584, 4.45960917,
       5.69225886, 3.76059765, 2.7404175 , 2.84443163, 2.44933864,
       3.92925864, 1.84638364, 2.51438231, 2.96559492, 2.95825242,
       3.32457249, 5.76198715, 2.66005043, 2.17815541, 3.54785907,
       5.66095824, 5.17081282, 2.32888576, 3.11629449, 2.91782073,
       3.08862603, 4.8068463 , 1.8284089 , 2.69154307, 4.01315773,
       3.02824742, 3.10768101, 5.24218823, 2.65318501, 2.40335425,
       3.10627768, 3.04688977, 2.08248713, 4.08661187, 5.11718516,
       3.10187164, 3.51770408, 3.10436635, 4.45960917, 2.99160751,
       5.69183791, 1.8284089 , 3.20043918, 5.60077986, 3.39301749,
       2.82817628, 2.67768645, 2.93481743, 3.53656843, 2.75939113,
       3.66316029, 4.07204649, 2.53886629, 3.78525915, 2.33197813,
       5.73739264, 2.13092051, 2.39931463, 5.71435864, 2.10235317,
       2.96524708, 2.31476884, 2.09045263, 4.33532951, 3.10768101,
       2.33197813, 2.56499121, 2.98482952, 2.67634276, 3.45063259,
       4.82904373, 2.81938418, 3.06254309, 3.13157456, 2.39625572,
       3.20366806, 3.20095835, 2.92693772, 2.53558931, 1.90817551,
       1.89019544, 5.67679331, 4.08756078, 2.05590875, 1.96887576,
       3.32641864, 2.33479758, 2.88341255, 2.77415275, 4.16362766,
       5.42272338, 3.10706816, 2.78919735, 3.0706057 , 3.08371061,
       1.78567341, 2.71845132, 4.19166153, 1.7582404 , 5.36117755,
       3.37566999, 2.96380495, 5.74444784, 3.10996764, 2.17151321,
       3.1678594 , 4.08288363, 5.36127774, 3.03791865, 4.16031801,
       4.05365896, 3.59444439, 1.42381296, 4.58741261, 4.57910911,
       2.19957673, 4.18816874, 3.9881515 , 0.97021862, 3.79068684,
       3.00485943, 2.01694812, 2.26411347, 1.76088479, 2.97656291,
       3.31590828, 2.40720111, 3.168828  , 4.05949661, 2.11788166,
       4.42638516, 3.60290034, 2.46342096, 2.32813305, 3.13936684,
       2.15468337, 3.3149907 , 2.32981344, 2.62160355, 1.86969485,
       2.34421176, 1.51171514, 2.8239071 , 3.09123308, 2.25251794,
       3.53687728, 1.77315252, 1.88934125, 3.72752914, 5.35213845,
       2.10851867, 2.00970181, 2.36119672, 2.01694812, 3.1722403 ,
       3.14990341, 1.98915909, 2.68027423, 3.11252515, 1.38097856,
       2.34485803, 5.72825335, 3.13527549, 4.22028296, 2.62415186,
       4.19474893, 4.0849574 , 2.41523254, 4.70090197, 3.83038615,
       3.13406928, 3.13718681, 3.10996764, 1.23870645, 2.49295024,
       3.02418729, 2.70311789, 3.11492003, 3.58050127, 2.32399401,
       2.97998299, 1.5879584 , 3.10706816, 3.0174093 , 4.94237195,
       3.27252764, 3.09996122, 2.70865919, 2.31207979, 4.48187715,
       2.60434321, 4.16341645, 3.00485943, 5.73489793, 3.95624652,
       4.04979631, 1.23969936, 3.15908194, 4.99837467, 2.7096911 ,
       3.14813648, 5.16333668, 5.69225886, 2.27142744, 2.85764235,
       1.74876142, 2.63264573, 2.20119005, 5.01152364, 2.26653596,
       1.84107978, 2.32948341, 1.71719524])

# 模型评价

In [86]:
from sklearn import metrics

In [87]:
metrics.mean_squared_error(model.predict(X_test), Y_test)

0.3120292004271854

# 模型预测

In [104]:
data_test = pd.Series(np.zeros(len([x for x in data.columns if x != 'cjdanjia'])),
                      index = [x for x in data.columns if x != 'cjdanjia'])

In [110]:
data_test.mianji = 80
data_test.xiaoqu_天通西苑三区 = 1
data_test.nan = 1
data_test.bei = 1
data_test.huxing_2室2厅 = 1
data_test.louceng_高楼层 = 1

In [111]:
data_test

mianji           80.0
xiaoqu_东亚上北中心     0.0
xiaoqu_北京像素北区     0.0
xiaoqu_北京像素南区     0.0
xiaoqu_北京新天地      0.0
xiaoqu_天通苑东一区     0.0
xiaoqu_天通苑中苑      0.0
xiaoqu_天通西苑三区     1.0
xiaoqu_天通西苑二区     0.0
xiaoqu_新龙城        0.0
xiaoqu_沿海赛洛城      0.0
xiaoqu_海特花园小区     0.0
xiaoqu_芍药居北里      0.0
xiaoqu_荣丰2008     0.0
xiaoqu_远洋山水       0.0
xiaoqu_青年汇佳园      0.0
huxing_1室--厅      0.0
huxing_1室1厅       0.0
huxing_1室2厅       0.0
huxing_2室--厅      0.0
huxing_2室1厅       0.0
huxing_2室2厅       1.0
huxing_2室3厅       0.0
huxing_3室--厅      0.0
huxing_3室1厅       0.0
huxing_3室2厅       0.0
huxing_3室3厅       0.0
huxing_4室--厅      0.0
huxing_4室1厅       0.0
huxing_4室2厅       0.0
huxing_5室--厅      0.0
huxing_5室1厅       0.0
huxing_5室2厅       0.0
louceng_中楼层       1.0
louceng_低楼层       0.0
louceng_地下室       0.0
louceng_高楼层       1.0
dong              0.0
xi                0.0
nan               1.0
bei               1.0
dongnan           0.0
dongbei           0.0
xinan             0.0
xibei             0.0
dtype: float64

In [112]:
model.predict(data_test.values.reshape(1,-1))

C:\Users\luhe\miniconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3.25528068])