In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.DataFrame({'k1':['beijing,haidian,chushou',
                           'beijing,chaoyang,chushou',
                           'beijing,fengtai,chuzu'],
                     'k2':['beijing,xicheng,chuzu',
                           'beijing,shijingshan,chushou',
                           np.nan]})

In [5]:
data

                         k1                           k2
0   beijing,haidian,chushou        beijing,xicheng,chuzu
1  beijing,chaoyang,chushou  beijing,shijingshan,chushou
2     beijing,fengtai,chuzu                          NaN

In [8]:
data.k1 = data.k1.str.replace('beijing', 'shanghai')

In [9]:
data

                          k1                           k2
0   shanghai,haidian,chushou        beijing,xicheng,chuzu
1  shanghai,chaoyang,chushou  beijing,shijingshan,chushou
2     shanghai,fengtai,chuzu                          NaN

In [10]:
data.k1.str.contains('chushou')

0     True
1     True
2    False
Name: k1, dtype: bool

In [12]:
data[data.k1.str.contains('chushou')]

                          k1                           k2
0   shanghai,haidian,chushou        beijing,xicheng,chuzu
1  shanghai,chaoyang,chushou  beijing,shijingshan,chushou

In [13]:
data.k1.str.split()  # 分割

0     [shanghai,haidian,chushou]
1    [shanghai,chaoyang,chushou]
2       [shanghai,fengtai,chuzu]
Name: k1, dtype: object

In [14]:
data.k1.str.strip()  # 去掉字符串开头结尾的空字符

0     shanghai,haidian,chushou
1    shanghai,chaoyang,chushou
2       shanghai,fengtai,chuzu
Name: k1, dtype: object

In [16]:
data.k1.str[:5]   # 切片，内置函数，更快

0    shang
1    shang
2    shang
Name: k1, dtype: object

In [17]:
data.k1.apply(lambda x:x[:5])   # 切片

0    shang
1    shang
2    shang
Name: k1, dtype: object

# 通过函数映射来转换数据

In [18]:
quyu_to_chengshi = {
    'chaoyang': 'beijing',
    'huangpu': 'shanghai',
    'jingan': 'shanghai',
    'haidian': 'beijing',
    'fengtai': 'beijing',
    'tongzhou': 'beijing'
}

In [20]:
data = pd.Series(['chaoyang', 'huangpu', 'jingan', 'haidian', 'fengtai', 'tongzhou'])

In [21]:
data

0    chaoyang
1     huangpu
2      jingan
3     haidian
4     fengtai
5    tongzhou
dtype: object

In [22]:
data.map(quyu_to_chengshi)  # map()：映射，区域映射到城市

0     beijing
1    shanghai
2    shanghai
3     beijing
4     beijing
5     beijing
dtype: object

In [23]:
data.apply(lambda x: quyu_to_chengshi.get(x))  # apply中必须是函数

0     beijing
1    shanghai
2    shanghai
3     beijing
4     beijing
5     beijing
dtype: object