In [1]:
from datetime import datetime   # 处理日期和时间的库，datatime一共有4个库
import pandas as pd
import numpy as np

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2023, 2, 24, 10, 28, 24, 228182)

In [4]:
now.year

2023

In [5]:
now.month

2

In [6]:
now.day

24

In [9]:
delta = datetime(2019,1,6) - datetime(2019,1,1,10,0)

In [10]:
delta

datetime.timedelta(days=4, seconds=50400)

In [11]:
delta.days

4

In [12]:
delta.seconds

50400

In [13]:
from datetime import timedelta  # 用于处理时间跨度

In [14]:
future = datetime(2019,1,6) + timedelta(30)

In [15]:
future

datetime.datetime(2019, 2, 5, 0, 0)

In [16]:
str(future)

'2019-02-05 00:00:00'

In [18]:
fut = future.strftime('%Y-%m-%d')  # datetime 转化为 str

In [19]:
fut

'2019-02-05'

In [20]:
datetime.strptime(fut, '%Y-%m-%d')  # str 转化为 datetime

datetime.datetime(2019, 2, 5, 0, 0)

In [22]:
pd.to_datetime(fut)  # str 转 Timestamp

Timestamp('2019-02-05 00:00:00')

In [23]:
fut = '2019/2/5'

In [24]:
pd.to_datetime(fut)

Timestamp('2019-02-05 00:00:00')

In [25]:
fut = '2019-2-5'

In [26]:
pd.to_datetime(fut)

Timestamp('2019-02-05 00:00:00')

In [27]:
fut = '2019.2.5'

In [28]:
pd.to_datetime(fut)

Timestamp('2019-02-05 00:00:00')

In [31]:
fut = '2-5-2019'

In [32]:
pd.to_datetime(fut)

Timestamp('2019-02-05 00:00:00')

In [33]:
fut = '5-2-2019'

In [34]:
pd.to_datetime(fut, dayfirst=True)

Timestamp('2019-02-05 00:00:00')

In [35]:
pd.to_datetime(['2019-1-6', '2019-2-1'])  # 时间序列就是以datetime作为时间索引的序列

DatetimeIndex(['2019-01-06', '2019-02-01'], dtype='datetime64[ns]', freq=None)

# DatetimeIndex生成

In [40]:
index = pd.date_range('2018.2.1','2018.12.31') # 默认间隔为day

In [41]:
index

DatetimeIndex(['2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04',
               '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08',
               '2018-02-09', '2018-02-10',
               ...
               '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29',
               '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', length=334, freq='D')

In [42]:
index = pd.date_range('2018.2.1', periods=20)  # 长度为20天

In [43]:
index

DatetimeIndex(['2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04',
               '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08',
               '2018-02-09', '2018-02-10', '2018-02-11', '2018-02-12',
               '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16',
               '2018-02-17', '2018-02-18', '2018-02-19', '2018-02-20'],
              dtype='datetime64[ns]', freq='D')

In [44]:
index = pd.date_range(end='2018.2.1', periods=20)  # 长度为20天

In [45]:
index

DatetimeIndex(['2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01'],
              dtype='datetime64[ns]', freq='D')

In [46]:
index = pd.date_range('2018.2.1','2018.12.31', freq='2D')  # 间隔为2天

In [47]:
index

DatetimeIndex(['2018-02-01', '2018-02-03', '2018-02-05', '2018-02-07',
               '2018-02-09', '2018-02-11', '2018-02-13', '2018-02-15',
               '2018-02-17', '2018-02-19',
               ...
               '2018-12-12', '2018-12-14', '2018-12-16', '2018-12-18',
               '2018-12-20', '2018-12-22', '2018-12-24', '2018-12-26',
               '2018-12-28', '2018-12-30'],
              dtype='datetime64[ns]', length=167, freq='2D')

In [48]:
index = pd.date_range('2018.2.1','2018.12.31', freq='BM')  # BM 每个月的最后一个工作日

In [49]:
index

DatetimeIndex(['2018-02-28', '2018-03-30', '2018-04-30', '2018-05-31',
               '2018-06-29', '2018-07-31', '2018-08-31', '2018-09-28',
               '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [50]:
index = pd.date_range('2018.2.1','2018.2.3', freq='5min')

In [51]:
index

DatetimeIndex(['2018-02-01 00:00:00', '2018-02-01 00:05:00',
               '2018-02-01 00:10:00', '2018-02-01 00:15:00',
               '2018-02-01 00:20:00', '2018-02-01 00:25:00',
               '2018-02-01 00:30:00', '2018-02-01 00:35:00',
               '2018-02-01 00:40:00', '2018-02-01 00:45:00',
               ...
               '2018-02-02 23:15:00', '2018-02-02 23:20:00',
               '2018-02-02 23:25:00', '2018-02-02 23:30:00',
               '2018-02-02 23:35:00', '2018-02-02 23:40:00',
               '2018-02-02 23:45:00', '2018-02-02 23:50:00',
               '2018-02-02 23:55:00', '2018-02-03 00:00:00'],
              dtype='datetime64[ns]', length=577, freq='5T')

In [52]:
index = pd.date_range('2018.2.1','2018.2.3', freq='5S')

In [53]:
index

DatetimeIndex(['2018-02-01 00:00:00', '2018-02-01 00:00:05',
               '2018-02-01 00:00:10', '2018-02-01 00:00:15',
               '2018-02-01 00:00:20', '2018-02-01 00:00:25',
               '2018-02-01 00:00:30', '2018-02-01 00:00:35',
               '2018-02-01 00:00:40', '2018-02-01 00:00:45',
               ...
               '2018-02-02 23:59:15', '2018-02-02 23:59:20',
               '2018-02-02 23:59:25', '2018-02-02 23:59:30',
               '2018-02-02 23:59:35', '2018-02-02 23:59:40',
               '2018-02-02 23:59:45', '2018-02-02 23:59:50',
               '2018-02-02 23:59:55', '2018-02-03 00:00:00'],
              dtype='datetime64[ns]', length=34561, freq='5S')

In [54]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('2012.1.1', periods=1000))

In [55]:
ts.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2014-09-17', '2014-09-18', '2014-09-19', '2014-09-20',
               '2014-09-21', '2014-09-22', '2014-09-23', '2014-09-24',
               '2014-09-25', '2014-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [56]:
ts['2012-1']

2012-01-01    1.382965
2012-01-02    0.135244
2012-01-03    0.818956
2012-01-04    1.333129
2012-01-05   -1.808094
2012-01-06   -0.727444
2012-01-07   -0.350369
2012-01-08   -0.459492
2012-01-09   -0.151997
2012-01-10   -0.931634
2012-01-11   -1.434029
2012-01-12    0.310553
2012-01-13    0.215527
2012-01-14   -1.322228
2012-01-15   -1.160990
2012-01-16    0.830685
2012-01-17   -0.563355
2012-01-18    0.274711
2012-01-19    0.502241
2012-01-20   -1.520720
2012-01-21   -0.968402
2012-01-22   -1.241061
2012-01-23   -1.134354
2012-01-24   -0.145008
2012-01-25   -0.479667
2012-01-26    0.832437
2012-01-27   -1.596848
2012-01-28   -0.112290
2012-01-29   -0.796481
2012-01-30   -0.026577
2012-01-31   -0.073298
Freq: D, dtype: float64

In [57]:
ts['2013-1':'2013-10']

2013-01-01   -1.225686
2013-01-02   -1.227538
2013-01-03    1.268178
2013-01-04    1.237741
2013-01-05   -0.293115
                ...
2013-10-27   -2.810695
2013-10-28   -1.907196
2013-10-29   -0.252804
2013-10-30   -0.084851
2013-10-31    0.363365
Freq: D, Length: 304, dtype: float64

In [59]:
ts['2014'].mean()

-0.07413563815263009

In [60]:
ts['2014-5-10']

-0.42389071287512115

# 重采样

# 将时间序列从一个频率转换到另一个频率：降采样、升采样，采样时间点变化

In [61]:
ts

2012-01-01    1.382965
2012-01-02    0.135244
2012-01-03    0.818956
2012-01-04    1.333129
2012-01-05   -1.808094
                ...
2014-09-22   -1.802627
2014-09-23   -0.609898
2014-09-24   -1.078310
2014-09-25    0.023006
2014-09-26    0.156789
Freq: D, Length: 1000, dtype: float64

In [62]:
ts.resample('M').mean()  # 按月重采样

2012-01-31   -0.334448
2012-02-29    0.004349
2012-03-31   -0.107226
2012-04-30   -0.419820
2012-05-31    0.360198
2012-06-30   -0.180067
2012-07-31    0.001936
2012-08-31   -0.064377
2012-09-30    0.214335
2012-10-31   -0.102699
2012-11-30   -0.044636
2012-12-31    0.143474
2013-01-31    0.089868
2013-02-28   -0.146673
2013-03-31   -0.178539
2013-04-30    0.141161
2013-05-31   -0.022401
2013-06-30    0.135399
2013-07-31   -0.091730
2013-08-31   -0.096587
2013-09-30    0.041178
2013-10-31    0.063334
2013-11-30    0.229726
2013-12-31   -0.107036
2014-01-31   -0.113938
2014-02-28   -0.112186
2014-03-31   -0.220356
2014-04-30   -0.310699
2014-05-31    0.097005
2014-06-30   -0.159744
2014-07-31    0.027904
2014-08-31    0.156908
2014-09-30   -0.040817
Freq: M, dtype: float64

In [65]:
ts.resample('Y').mean()

2012-12-31   -0.043653
2013-12-31    0.004606
2014-12-31   -0.074136
Freq: A-DEC, dtype: float64

In [67]:
ts.groupby(lambda x:x.month).mean()

1    -0.119506
2    -0.083788
3    -0.168707
4    -0.196453
5     0.144934
6    -0.068137
7    -0.020630
8    -0.001352
9     0.076792
10   -0.019682
11    0.092545
12    0.018219
dtype: float64

In [68]:
ts.groupby(lambda x:x.year).mean()

2012   -0.043653
2013    0.004606
2014   -0.074136
dtype: float64

In [73]:
data = pd.read_csv('./dataset/air1908.csv', index_col='Date', parse_dates=True)
# parse_dates=True 解析时间

In [74]:
data.head()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1912-07-12,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [75]:
data.index

DatetimeIndex(['1908-09-17', '1912-07-12', '1913-08-06', '1913-09-09',
               '1913-10-17', '1915-03-05', '1915-09-03', '1916-07-28',
               '1916-09-24', '1916-10-01',
               ...
               '2009-04-09', '2009-04-17', '2009-04-17', '2009-04-29',
               '2009-05-03', '2009-05-20', '2009-05-26', '2009-06-01',
               '2009-06-07', '2009-06-08'],
              dtype='datetime64[ns]', name='Date', length=5268, freq=None)

In [76]:
data.loc['2000']

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
2000-04-05,09:30,"Marianna, Florida",Bankair,NaN,Opa-Locka - Marianna,Learjet 35A,N86BE,35-194,3.0,3.0,0.0,While on finals the training flight pitched up...
2000-04-19,NaN,"Bukavu, DemocratiRepubliCongo",Kivu Air Services,NaN,NaN,Cessna 208B Caravan I,ZS-ONT,208B-0220,2.0,2.0,0.0,The charter flight crashed in the Kahuzi-Biega...
2000-01-05,NaN,"Abuja, Nigeria",Skypower Express Airways,NaN,Lagos - Abuja,Embraer 110P1A Bandeirante,5N-AXL,110-455,16.0,1.0,1.0,During a visual approach the aircraft stalled ...
2000-01-10,17:54,"Niederhasli, Switzerland",Crossair,498,Zürich - Dresden,Saab 340B,HB-AKK,213,10.0,10.0,0.0,"The aircraft crashed shortly after taking off,..."
2000-01-13,12:38,"Off Marsa el-Brega, Libya",Avisto,NaN,Tripoli IAP - Marsa el-Brega,Shorts 360-300,HB-AAM,SH-3763,41.0,22.0,0.0,The aircraft was on a flight from Tripoli to M...
...,...,...,...,...,...,...,...,...,...,...,...,...
2000-11-07,NaN,"Luabo, DemocratiRepubliCongo",Malu Aviation,NaN,NaN,Antonov 32B,ER-AFA,3406,11.0,2.0,0.0,Due to a blown tire on takeoff the pilot abort...
2000-11-09,01:23,"Fort Wayne, Indiana",Superior Aviation,NaN,"Fort Wayne, IN - Milwaukee, WI",Swearingen SA.226TC Metro II,N731AC,TC-255,1.0,1.0,0.0,"During takeoff, the cargo plane struck trees, ..."
2000-11-15,13:05,"Near Luanda, Angola",Asa Pesada,NaN,Luanda - Namibe,Antonov AN-26,D2-FCG,PESA001,57.0,57.0,0.0,The plane crashed and exploded in flames into ...
2000-11-20,12:22,"Miami, Florida",American Airlines,NaN,"Miami, FL - Port au Prince",Airbus A300-600R,N14056,463,114.0,1.0,0.0,"After climbing through 16,000 ft. the crew des..."
2000-11-25,06:04,"Cordoba, Spain",Mayoral Executive Jet,NaN,Malaga - Cordoba,Aerospatiale SN-601 Corvette,EC-DQG,27,2.0,1.0,0.0,"During the approach, the plane, on a positioni..."

In [81]:
data.loc['2000-05']

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
2000-05-02,14:39,"Lyon Satolas, France",Northern Executive Aviation,4B,NaN,Learjet 35A,G-MURI,35-646,5.0,2.0,0.0,During a landing attempt the crew shut down No...
2000-05-03,NaN,"Kurupung, Guyana",Trans Guyana Airways,NaN,NaN,Britten-Norman BN-2A-9 Islander,8R-GAC,694,1.0,1.0,0.0,The cargo plane crashed into a cloud covered m...
2000-05-10,20:30,"Kaunakakai, Hawaii",Price Aircraft Company,NaN,Kahului - Hoolehua,Rockwell Sabreliner 65,N241H,465-5,6.0,6.0,0.0,While on approach the charter flight hit the r...
2000-05-17,09:47,"Moanda, Gabon",Avirex,NaN,Libreville - Moanda,Beechcraft 1900C-1,TR-LFK,UC-133,10.0,3.0,0.0,The charter flight crashed while on approach i...
2000-05-21,11:28,"Near Wilkes-Barre, Pennsylvania",Executive Airlines,Charter,AtlantiCity - Wilkes-Barre,BAe Jetstream 3101-31,N16EJ,834,19.0,19.0,0.0,The plane crashed into a heavily wood area as...
2000-05-25,NaN,"Near Manila, Philippines",Philippine Air Lines,812,Davao - Manila,Airbus A.330-301,F-OHZN,NaN,298.0,1.0,0.0,"A hijacker robbed passengers, jumped out of th..."
2000-05-25,02:50,"Paris, France",Streamline,200,Paris - London,Shorts 330-200,G-SSWN,SH-3064,2.0,1.0,0.0,Midair collision with a MD-83 after taxing on ...
2000-05-31,19:05,"Off Whyalla, Australia",Whyalla Airlines,904,Adelaide - Whyalla,Piper PA-31-350 Navajo,VH-MZK,31-8152180,8.0,8.0,0.0,"En route and descending at Whyalla, at 6,000 ..."

In [82]:
data.resample('Y')['Fatalities'].mean()  # 每一年死亡人数

Date
1908-12-31     1.000000
1909-12-31          NaN
1910-12-31          NaN
1911-12-31          NaN
1912-12-31     5.000000
                ...
2005-12-31    25.607843
2006-12-31    23.183673
2007-12-31    17.240741
2008-12-31    13.225806
2009-12-31    24.208333
Freq: A-DEC, Name: Fatalities, Length: 102, dtype: float64

In [83]:
data.resample('Y')['Fatalities'].sum()

Date
1908-12-31       1.0
1909-12-31       0.0
1910-12-31       0.0
1911-12-31       0.0
1912-12-31       5.0
               ...
2005-12-31    1306.0
2006-12-31    1136.0
2007-12-31     931.0
2008-12-31     820.0
2009-12-31     581.0
Freq: A-DEC, Name: Fatalities, Length: 102, dtype: float64